#bg {
    background-image: url('https://d31cuupyjbe4e1.cloudfront.net/ADMIN/University-of-Miami-Cover-8aed22bf-db07-4525-b5d2-f45d72850158.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}