
/* HERO IMG */
#bg {
    background-image: url('https://myunisearch.com/_next/image?url=https:%2F%2Fd31cuupyjbe4e1.cloudfront.net%2FADMIN%2FUniversity-of-Miami-Cover-8aed22bf-db07-4525-b5d2-f45d72850158.jpg&w=1080&q=75');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the background image covers the element */
    background-position: center; /* Centers the background image */
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    margin: 0; /* Ensure there’s no margin */
    padding: 0; /* Ensure there’s no padding */
    opacity: 2;
    margin-top: 40px;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in;
    ;
}
/* Body */
body {
    background-color: rgb(35, 85, 51);
    
}

/* NAV */
.navbar {
    display: flex;
    justify-content: center;
    position: sticky;
  top: 0;
  overflow: hidden;
  }
  

  .navbar-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    list-style: none;
  }
  h4 {
    text-align: center;
  }

  .navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
 
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

/* Button */
.button {
  border-radius: 4px;
  background-color: #ff7321;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

  /* paralax */
/* Text */
h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ff7321;
  outline: #FFFFFF;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
            font-size: 48px;
}
h5 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #30532b;
  outline: #FFFFFF;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
            font-size: 48px;
}
 /* carousel */
 #carouselExampleIndicators {
  width: 100%;
  margin: 0 auto;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-item {
  height: 600px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-control-prev, .carousel-control-next {
  filter: invert(1);
}


/* CARDS */

.card {
  background-color: #ff7321;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.993);
  margin: 15px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #385039;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
  border-radius: 0 0 10px 10px;
  color: #000000;
}

.card-body p {
  margin: 5px 0;
}

strong {
  color: #ffffff;
}
footer {
  background-color: white;
  padding: 60px;
  text-align: center;
}


#mainTitle {
  color: #ffffff;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.691);
}

#introText {
  margin-bottom: 20px;
}

#majorsTitle, #classesTitle {
  color: white;
  background-color: #F47321;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

#majorsSection, #classesSection {
  margin-bottom: 30px;
}

#majorsDropdown .btn-secondary,
#classesDropdown .btn-secondary {
  background-color: #005B5C;
  border-color: #005B5C;
}

#majorsDropdown .btn-secondary:hover,
#classesDropdown .btn-secondary:hover {
  background-color: #F47321;
  border-color: #F47321;
}

.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-item:hover {
  background-color: #F47321;
  color: white;
}

/* photos */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



.row {
  margin-left: 0;
  margin-right: 0;
}

.mb-2 {
  margin-bottom: 1rem;
}

#img535 {
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#img535:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#commonMajors {
  color: white;
  text-align: center;
  margin-top: 20px; 
  font-family: 'Montserrat', sans-serif;
}
#buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#uniqueButton {
  background-color: #ff7321;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.744);
  transition: background-color 0.3s, transform 0.3s;
}

#uniqueButton:hover {
  background-color: #e66b1f;
  transform: translateY(-2px);
}


/* About Us */
#aboutContainer {
  text-align: center;
  background-color: #FFFFFF;
}

#aboutTitle {
  color: #3c522f;
  margin-bottom: 20px;
}

#aboutIntro {
  font-size: 1.2em;
  margin-bottom: 40px;
}

#historyImage, #campusLifeImage {
 height: 300px;
 width: 400px

}

#missionImage {
margin: 50px;  
height: 200px;
  width: 500px
}

h2 {
  color: #ff7321;
  margin-bottom: 20px;
}

#resourcesTitle {
  margin: 40px 0;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
}
